Touch_MPR121_19052020.zip
Touch_MPR121_08062020.zip
Touch_MPR121_08062020.zip
round_DEMO_active_shielding.mp4
~$PrintConfig_log_Julian_15052020.xlsx
20200515_133025_001.mp4
Bedarfsanforderung_UVgo_v1a _08102020.pdf
Bedarfsanforderung_UVgo_v1a _12102020.pdf
Bedarfsanforderung_UVgo_v1a _23102020.pdf
Bedarfsanforderung_UVgo_v1a _template.pdf
Conrad_Einkaufswagen.pdf
Injection-molded_Demo_Touch_LED.pdf
.vscode/arduino.json
